<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
    <p class="f6">
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
        </a>
        <span class="f4 white-70"> | </span>
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/privacy/" >
         Privacy
      </a>
      <span class="f4 white-70"> | </span>
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/about/site/" >
         About This Site
      </a>
      <div>{{ partial "social-follow.html" . }}</div>
    </p>
  </footer>