<div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-third-ns pa2">
        <div class="outline w5 br3 bg-white pv4">
            <a href="{{ .Get "url1" }}"><h4 class="title1">{{ .Get "title1" }}</h4></a>
            <h2 class="f5 fw4 gray mt0">{{ .Get "descr1" }}</h2>
        </div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
        <div class="outline br3 bg-white pv4">
            <a href="{{ .Get "url2" }}"><h4 class="title2">{{ .Get "title2" }}</h4></a>
            <h2 class="f5 fw4 gray mt0">{{ .Get "descr2" }}</h2>
        </div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
        <div class="outline br3 bg-white pv4">
            <a href="{{ .Get "url3" }}"><h4 class="title3">{{ .Get "title3" }}</h4></a>
            <h2 class="f5 fw4 gray mt0">{{ .Get "descr3" }}</h2>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="mw8 bg-white br3 mv3 ba pa4 h5 b--black-10 fl w-third">
    <div class="card h-100 bg-faded-light">
        <div class="card-body">
            <a href="{{ .Get "url" }}"><h4 class="title">{{ .Get "title" }}</h4></a>
            <h2 class="f5 fw4 gray mt0">{{ .Get "descr" }}</h2>
        </div>
    </div>
</div> -->
<!-- bg-white br3 pa3 h5 pa4-ns mv3 ba b--black-10 -->